@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* TODO ----1---header start */
header > .nav-links {
display: none;
}
header.header-section {
display: flex;

justify-content: space-between;
align-items: center;

}

.overlay-menu {
    height: 100vh;
    position:fixed;
    
    background-color: rgba(0,0,0,.5);
    width: 0;
    overflow-x:hidden;


}

.overlay-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overlay-nav-links a {
    color:white;
    margin-bottom: 10px;
    text-decoration: none;
}


/* TODO header end */

/*  TODO introduction start */

.introduction {
    display: flex;
    flex-direction: column-reverse;
}

.intro-left-side {
}


.intro-left-side h1 {
    font-size: 38px;
    font-weight: 700;
    /* text-align: justify; */
    /* text-align: center; */

    
}

.intro-left-side p {
    text-align: justify;
    margin: 30px 0;
}

.intro-left-side h1 span {
    color: #FF8A56;
}

.book-a-call {
    display: flex;
    flex-direction: column;
  
}


.intro-right-side {
    width: 320px;
    margin: 20px auto;
}

.intro-right-side img {
    width: 100%;
}
/*  TODO introduction end */

@media(min-width:768px) {
    header > .nav-links {
        display: block;
    }

    .fa-bars {
        display: none;
    }

    .introduction {
        padding-top: 92px;
        flex-direction: row;
        padding: 10px;
    }

    .book-a-call {
        flex-direction: row;
        gap: 20px;
    }

    .intro-left-side h1 {
        font-size: 54px;
        padding-top: 60px;
    }

    .intro-left-side p {
        width: 347px;
        font-size: 22px;
        font-weight: 400;
    }


    .intro-right-side img {
        width: 400px
    }

    /*!  Flexbox Grid */

    /* ! Onedirectional Bidirectional */
}


@media(min-width:1080px) {

    .introduction {
        justify-content: space-between;
        padding-left: 112px;
       

    }
    .intro-left-side {
        flex-basis: 50%;
    }

    .intro-right-side {
        flex:1;
        display: flex;
        justify-content: flex-end;
    }

    .intro-left-side h1 {
        font-size: 72px;
    }

    .intro-left-side p {
        width: 547px;
    }
}





