@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* TODO ----1---header start */
header > .nav-links {
display: none;
}
header.header-section {
display: flex;

justify-content: space-between;
align-items: center;

}



@media(min-width:768px) {
    header > .nav-links {
        display: block;
    }

    .fa-bars {
        display: none;
    }
}
/* TODO header end */




